<div class="row">
	<div class="col-md-6 col-md-offset-3 col-sm-12">
	<!-- <div class="col-md-offset-1 col-md-10 col-sm-12"> -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5>
					Edit Standalone
				 </h5>
			</div>
			<div class="panel-body">
				<form name="editForm">
					<div class="well">
						<h5 style="margin-top: 0px;">Basic Information</h5>
						<div class="form-group">
							<label class="control-label">Name<small class="text-danger">*</small></label>
							<input type="text" name="name" id="name"  ng-model="tournament.name" class="form-control" required />
							<div class='msg-block' ng-show='editForm.name.$error'>
								<span class='text-danger' ng-show='editForm.name.$error.required && !editForm.name.$pristine'>
									Please enter name.
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label">Point for complete level<small class="text-danger">*</small></label>
									<input type="text" name="minimum_points_required_for_level" id="minimum_points_required_for_level"  ng-model="tournament.minimum_points_required_for_level" class="form-control" only-digits required />
									<div class='msg-block' ng-show='editForm.minimum_points_required_for_level.$error'>
										<span class='text-danger' ng-show='editForm.minimum_points_required_for_level.$error.required && !editForm.minimum_points_required_for_level.$pristine'>
											Please enter minimum point to complete this level.
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label">Coin earned<small class="text-danger">*</small></label>
									<input type="text" name="coins_earned" id="coins_earned"  ng-model="tournament.coins_earned" class="form-control" required only-digits />
									<div class='msg-block' ng-show='editForm.coins_earned.$error'>
										<span class='text-danger' ng-show='editForm.coins_earned.$error.required && !editForm.coins_earned.$pristine'>
											Please enter coin earned.
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="well">
						<h5 style="margin-top: 0px;">Level Image<small class="text-danger">*</small></h5>
						<div class="img-uploder-holder">
							<div class="img-uploder-box">
								<input id="imageUpload" type="file" ngf-select ng-model="tournament.image" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class=" upload certUpload3 " style="opacity: 0;position: absolute;bottom: 35px;right: -36px;z-index: 9999;">
								<label for="imageUpload" class="booknow_btn03"> <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Upload</label>
                                <img src="{{image_path}}{{tournament.level_image}}" id="imagePreview" alt="Preview Image" class="gry-border img-radius" width="158px" height="158px"/>
							</div>
               			</div>
					</div>
					<div class="well">
						<h5 style="margin-top: 0px;">Powerup Information</h5>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label">Negator</label>
									<input type="text" name="no_of_power_ups_negator" id="no_of_power_ups_negator"  ng-model="tournament.no_of_power_ups_negator" class="form-control" only-digits/>									
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label">Muliplier</label>
									<input type="text" name="no_of_power_ups_multiplier" id="no_of_power_ups_multiplier"  ng-model="tournament.no_of_power_ups_multiplier" class="form-control" only-digits/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label">Freebie</label>
									<input type="text" name="no_of_power_ups_freebie" id="no_of_power_ups_freebie"  ng-model="tournament.no_of_power_ups_freebie" class="form-control" only-digits/>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label">Extra Time</label>
									<input type="text" name="no_of_power_ups_extra_time" id="no_of_power_ups_extra_time"  ng-model="tournament.no_of_power_ups_extra_time" class="form-control" only-digits/>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="well">
						<h5 style="margin-top: 0px;">Voucher Information</h5>
						<input type="file" ngf-select ng-model="tournament.voucher" name="file" ngf-pattern="'image/*'"
               accept="image/*" ngf-max-size="20MB">
					</div> -->
					
					<div class="form-group">
						&nbsp;
					</div>
					<div class="form-group">
						<center>
							<button id="login" class="btn btn-primary loginBtn" ng-click="updateMethod(tournament);" ng-disabled="editForm.$invalid || isBusyButton">
								Submit
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
							<a href="#!/standalone" class="btn btn-danger">
								Cancel
							</a>
						</center>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function () { 
	$('#imageUpload').change(function(){            
        readImgUrlAndPreview(this);
        function readImgUrlAndPreview(input){
         if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {                          
                    $('#imagePreview').attr('src', e.target.result);
                    }
              };
              reader.readAsDataURL(input.files[0]);
         }  
    });

    $('#vouUpload').change(function(){            
        readImgUrlAndPreview(this);
        function readImgUrlAndPreview(input){
         if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {                          
                    $('#vouPreview').attr('src', e.target.result);
                    }
              };
              reader.readAsDataURL(input.files[0]);
         }  
    });
});
</script>
