<div class="row">
	<div class="col-md-6 col-md-offset-3 col-sm-12">
	<!-- <div class="col-md-offset-1 col-md-10 col-sm-12"> -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5>
					Add Question
				 </h5>
			</div>
			<div class="panel-body">
				<div class="row text-center" ng-if="message">
					<span class="text-danger" ng-if="!message.success">{{message.message}}</span>
					<span class="text-success" ng-if="message.success">{{message.message}}</span>
				</div>
				<form name="editForm">
					<div class="form-group">
						<label class="control-label">Question<small class="text-danger">*</small></label>
						<input type="text" name="name" id="name"  ng-model="formData.question" class="form-control" required />
						<div class='msg-block' ng-show='editForm.question.$error'>
							<span class='text-danger' ng-show='editForm.question.$error.required && !editForm.question.$pristine'>
								Please enter name.
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Mp3 Upload<small class="text-danger">*</small></label>
						<div class="row">
							<div class="col-sm-6">
								<input class="btn btn-primary" type="file" ng-model="mp3" name="file" base-sixty-four-input>
							</div>
							<div class="col-sm-6">
								{{mp3.filename}}
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="radio-inline">Question Is : </label>
						<label class="radio-inline"><input type="radio" name="optradio" ng-model="formData.question_is" ng-value="true">True</label>
						<label class="radio-inline"><input type="radio" name="optradio" ng-model="formData.question_is" ng-value="false">False</label>
					</div>
					<div class="form-group">
						<center>
							<button id="login" class="btn btn-primary loginBtn" ng-click="addMethod(formData,mp3);" ng-disabled="editForm.$invalid || isBusyButton">
								Submit
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
							<a href="#!/question" class="btn btn-danger">
								Cancel
							</a>
						</center>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
