<div class="row">
	<div class="col-md-12 col-sm-12">

        <!-- <div class="col-md-offset-1 col-md-10 col-sm-12"> -->
            <div class="panel panel-primary">
                <div class="panel-heading">
					<div class="row">
						<div class="col-sm-8">
							<h5>
		                        Question List
		                     </h5>
						</div>
						<div  class="col-sm-4 text-right">
							<a href="#!/question/add" class="btn btn-primary">
								Add
							</a>
						</div>
					</div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S No.</th>
							<th>Question</th>
							<th>Question Is</th>
							<th>Mp3</th>
							<th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
							<tr ng-if="message" ng-click="message=false;">
	                            <td colspan="8" class="text-center">
	                                <span class="text-danger" ng-if="!message.success">{{message.message}}</span>
	                                <span class="text-success" ng-if="message.success">{{message.message}}</span>
	                            </td>
	                        </tr>
	                        <tr ng-if="!results">
	                            <td colspan="8" class="text-center">
	                                <span class="text-warning">Loading ... <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></span>
	                            </td>
	                        </tr>
	                        <tr ng-if="results.length > 0" ng-repeat="result in results">
	                            <td data-label="S No.">{{$index+1}}</td>
	                            <td data-label="Question">{{result.question}}</td>
	                            <td data-label="Question Is">{{result.question_is}}</td>
								<td data-label="Question Mp3">{{result.mp3}}</td>
								<td data-label="Action">
									<a href="#!/question/edit/{{result._id}}" ng-disabled="isBusyButton" class="btn btn-primary" >
										Edit
										<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
									</a>
									<button type="button" class="btn btn-primary" ng-disabled="isBusyButton" ng-click="deleteTournament(result._id);" >
										Delete
										<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
									</button>
								</td>
	                        </tr>
	                        <tr ng-if="results.length <= 0">
	                            <td colspan="8" class="text-center text-danger">No data found</td>
	                        </tr>
                        </tbody>

                    </table>
					<!-- <div class="row">
						<div class="text-center">
							<button type="button" class="btn btn-primary" ng-click="loadMoreFunction();" ng-disabled="isBusyButton">
								Load More
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
						</div>
						<div class="text-center">
							<small ng-if="message" class="text-danger">{{message}}</small>
						</div>
					</div> -->
                </div>
            </div>

    </div>
</div>
