<div class="row">
	<div class="col-md-6 col-md-offset-3 col-sm-12">
	<!-- <div class="col-md-offset-1 col-md-10 col-sm-12"> -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5>
					Add Tournament
				 </h5>
			</div>
			<div class="panel-body">
				<div class="row text-center" ng-if="message">
					<span class="text-danger" ng-if="message.type==='ERROR'">{{message.message}}</span>
					<span class="text-success" ng-if="message.type==='SUCCESS'">{{message.message}}</span>
				</div>
				<form name="editForm">
					<div class="well">
						<h5 style="margin-top: 0px;">Basic Information</h5>
						<div class="form-group">
							<label class="control-label">Name<small class="text-danger">*</small></label>
							<input type="text" name="name" id="name"  ng-model="tournament.name" class="form-control" required />
							<div class='msg-block' ng-show='editForm.name.$error'>
								<span class='text-danger' ng-show='editForm.name.$error.required && !editForm.name.$pristine'>
									Please enter name.
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Prize<small class="text-danger">*</small></label>
							<input type="text" name="prize" id="prize" valid-number ng-model="tournament.coins_earned" class="form-control" required />
							<div class='msg-block' ng-show='editForm.prize.$error'>
								<span class='text-danger' ng-show='editForm.prize.$error.required && !editForm.prize.$pristine'>
									Please enter prize.
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Entry Fee<small class="text-danger">*</small></label>
							<input type="text" name="entry_fee" id="entry_fee" valid-number ng-model="tournament.entry_fee" class="form-control" required />
							<div class='msg-block' ng-show='editForm.entry_fee.$error'>
								<span class='text-danger' ng-show='editForm.entry_fee.$error.required && !editForm.entry_fee.$pristine'>
									Please enter entry fee.
								</span>
							</div>
						</div>
						<div class="row start-end">

							<div class="col-sm-6 col-xs-6">
								<div class="form-group">
									<label class="control-label">Start Date<small class="text-danger">*</small></label>
									<datepicker date-format="yyyy-MM-dd">
									  <input ng-model="tournament.start_date"  type="text"/>
									</datepicker>
								</div>
							</div>
							<div class="col-sm-6 col-xs-6">
								<div class="form-group">
									<label class="control-label">End Date<small class="text-danger">*</small></label>
									<datepicker date-format="yyyy-MM-dd">
									  <input ng-model="tournament.end_date" type="text"/>
									</datepicker>
								</div>
							</div>
						</div>
						<div class="form-group">
							&nbsp;
						</div>
					</div>

					<div class="row well-box-content">
						<div class="col-sm-6">	
							<div class="well">
								<h5 style="margin-top: 0px;">Tournament Image<small class="text-danger">*</small></h5>
								<div class="img-uploder-holder">
									<div class="img-uploder-box">
										<input id="imageUpload" type="file" ngf-select ng-model="tournament.image" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class=" upload certUpload3 " style="opacity: 0;position: absolute;bottom: 35px;right: -36px;z-index: 9999;" required>
										<label for="imageUpload" class="booknow_btn03"> <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Upload</label>
		                                <img src="{{image_path}}education_icon_1.png" id="imagePreview" alt="Preview Image" class="gry-border img-radius" width="158px" height="158px"/>
									</div>
		               			</div>
							</div>
						</div>
					<div class="col-sm-6">
						<div class="well">
							<h5 style="margin-top: 0px;">Voucher Information</h5>
	               			<div class="img-uploder-box">
								<input id="vouUpload" type="file" ngf-select ng-model="tournament.voucher" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class=" upload certUpload3 " style="opacity: 0;position: absolute;bottom: 35px;right: -36px;z-index: 9999;" required>
								<label for="vouUpload" class="booknow_btn03"> <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Upload</label>
	                            <img src="{{image_path}}education_icon_1.png" id="vouPreview" alt="Preview Image" class="gry-border img-radius" width="158px" height="158px"/>
							</div>
						</div>
					</div>

					</div>
					<div class="form-group">
						<center>
							<button id="login" class="btn btn-primary loginBtn" ng-click="addMethod(tournament);" ng-disabled="editForm.$invalid || isBusyButton">
								Submit
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
							<a href="#!/tournament" class="btn btn-danger">
								Cancel
							</a>
						</center>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function () { 
	$('#imageUpload').change(function(){            
        readImgUrlAndPreview(this);
        function readImgUrlAndPreview(input){
         if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {                          
                    $('#imagePreview').attr('src', e.target.result);
                    }
              };
              reader.readAsDataURL(input.files[0]);
         }  
    });

    $('#vouUpload').change(function(){            
        readImgUrlAndPreview(this);
        function readImgUrlAndPreview(input){
         if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {                          
                    $('#vouPreview').attr('src', e.target.result);
                    }
              };
              reader.readAsDataURL(input.files[0]);
         }  
    });
});
</script>