<div class="row">
	<div class="col-md-12 col-sm-12">

        <!-- <div class="col-md-offset-1 col-md-10 col-sm-12"> -->
            <div class="panel panel-primary">
                <div class="panel-heading">
					<div class="row">
						<div class="col-sm-8">
							<h5>
		                        User List
		                     </h5>
						</div>
					</div>
                </div>
                <div class="panel-body">
                <!-- <div class="row">
                    <div class="col-md-3 col-md-offset-9">
						<form ng-submit="searchFunction();">
							<input type="text" ng-model="search"  class="form-control search-input" placeholder="Search" />
						</form>
                    </div>
                </div> -->
                    <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S No.</th>
							<th>Name</th>
							<th>Facebook Id</th>
							<th>Email</th>
							<th>Points</th>
							<th>Coins</th>
							<th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
							<tr ng-if="message" ng-click="message=false;">
	                            <td colspan="8" class="text-center">
	                                <span class="text-danger" ng-if="!message.success">{{message.message}}</span>
	                                <span class="text-success" ng-if="message.success">{{message.message}}</span>
	                            </td>
	                        </tr>
	                        <tr ng-if="!userList">
	                            <td colspan="8" class="text-center">
	                                <span class="text-warning">Loading ... <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></span>
	                            </td>
	                        </tr>
	                        <tr ng-if="userList.length > 0" ng-repeat="result in userList">
	                            <td data-label="S No.">{{$index+1}}</td>
	                            <td data-label="Name">{{result.name}}</td>
	                            <td data-label="Facebook">{{result.facebook_id}}</td>
	                            <td data-label="Email">{{result.email}}</td>
	                            <td data-label="Points">{{result.points}}</td>
	                            <td data-label="Coins">{{result.coins}}</td>
								<td data-label="Action">
									<button ng-if="result.status == 'Inactive'" type="button" class="btn btn-success" ng-disabled="isBusyButton" ng-click="activeDeactiveUser('Active',result._id);" >
										Active
										<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
									</button>
									<button ng-if="result.status == 'Active'" type="button" class="btn btn-warning" ng-disabled="isBusyButton" ng-click="activeDeactiveUser('Inactive',result._id);" >
										Deactive
										<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
									</button>
								</td>
	                        </tr>
	                        <tr ng-if="tournamentList.length <= 0">
	                            <td colspan="8" class="text-center text-danger">No data found</td>
	                        </tr>
                        </tbody>

                    </table>
					<!-- <div class="row">
						<div class="text-center">
							<button type="button" class="btn btn-primary" ng-click="loadMoreFunction();" ng-disabled="isBusyButton">
								Load More
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
						</div>
						<div class="text-center">
							<small ng-if="message" class="text-danger">{{message}}</small>
						</div>
					</div> -->
                </div>
            </div>

    </div>
</div>
