<div class="row">
	<div class="col-md-12 col-sm-12">
	<!-- <div class="col-md-offset-1 col-md-10 col-sm-12"> -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5>
					<span ng-if="pageModel.editModel"> Edit</span>
					Question
					 <span ng-if="pageModel.viewModel"> Lists</span>

				 </h5>
				 <span class="btnDiv" ng-if="pageModel.viewModel">
					 <button class="btn btn-primary" ng-click="openEditModel({});">
						 Add Question
					 </button>
				 </span>
			</div>
			<div class="panel-body" ng-if="pageModel.viewModel">
				<table class="table table-bordered">
					<tr>
						<th>#</th>
						<th>Question</th>
						<th>Answer</th>
						<th>Category</th>
						<th>Automated Lies</td>
						<th>Educated Lies</td>
						<th>Created Date</th>
						<th>Action</th>
					</tr>
					<tr ng-repeat="result in questions">
						<td>{{$index+1}}</td>
						<td>{{result.question}}</td>
						<td>{{result.answer}}</td>
						<td>{{result.category.name}}</td>
						<td><span ng-repeat="automated in result.automated_lies">{{$index+1}}) {{automated.answer}}</br></span></td>
						<td><span ng-repeat="educated in result.educated_lies">{{$index+1}}) {{educated.answer}}</br></span></td>
						<td>{{result.created | date}}</td>
						<td>
							<button class="btn btn-primary btn-xs" type="button" ng-disabled="isBusyButton" ng-click="openEditModel(result);">
								Edit
							</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="panel-body" ng-if="pageModel.editModel">
				<div ng-hide="question">
					Loading
				</div>
				<form name="editForm" ng-if="question">
					<div class="form-group">
						<label class="control-label">Question<small class="text-danger">*</small></label>
						<input type="text" name="question" id="question"  ng-model="question.question" class="form-control" required />
						<div class='msg-block' ng-show='editForm.question.$error'>
							<span class='text-danger' ng-show='editForm.question.$error.required && !editForm.question.$pristine'>
								Please enter question.
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Answer<small class="text-danger">*</small></label>
						<input type="text" name="answer" id="answer" ng-model="question.answer" class="form-control" required />
						<div class='msg-block' ng-show='editForm.answer.$error'>
							<span class='text-danger' ng-show='editForm.answer.$error.required && !editForm.answer.$pristine'>
								Please enter answer.
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Category<small class="text-danger">*</small></label>
						<select class="form-control" id="category_id" name="category_id" ng-options="category as category.name for category in categories track by category.id" ng-model="question.category_id" required></select>
						<div class='msg-block' ng-show='editForm.category_id.$error'>
							<span class='text-danger' ng-show='editForm.category_id.$error.required && !editForm.category_id.$pristine'>
								Please enter category.
							</span>
						</div>
					</div>
					<div class="lightGray_bg">
					<div class="form-group">
						<div class="row" >
							<div class="col-md-10">
								<h4>Automated Lies</h4>
							</div>
						  <div class="col-md-2"><button class="btn btn-success" type="button" ng-disabled="question.automated_lies.length ===8" ng-click="addAutomatedLies();">Add</button></div>
						</div>
					</div>

					<div class="form-group" ng-repeat="automated in question.automated_lies">
						<div class="row" >
							<div class="col-md-10">
								<label class="control-label">Answer<small class="text-danger">*</small></label>
								<input type="text" name="name" id="name" ng-model="automated.answer" class="form-control" required />
								<div class='msg-block' ng-show='editForm.category_id.$error'>
									<span class='text-danger' ng-show='editForm.category_id.$error.required && !editForm.category_id.$pristine'>
										Please enter category.
									</span>
								</div>
							</div>
						  <div class="col-md-2"><button class="btn btn-danger" type="button" ng-disabled="question.automated_lies.length ===1" ng-click="removeAutomatedLies($index);">Remove</button></div>
						</div>
					</div>
					</div>
					<div class="lightGray_bg">
					<div class="form-group headingPanel">
						<div class="row" >
							<div class="col-md-10">
								<h4>Educated Lies</h4>
							</div>
						  <div class="col-md-2"><button class="btn btn-success" type="button" ng-disabled="question.educated_lies.length ===8" ng-click="addEducatedLies();">Add</button></div>
						</div>
					</div>

					<div class="form-group" ng-repeat="educated in question.educated_lies">
						<div class="row" >
							<div class="col-md-10">
								<label class="control-label">Answer<small class="text-danger">*</small></label>
								<input type="text" name="name" id="name" ng-model="educated.answer" class="form-control" required />
								<div class='msg-block' ng-show='editForm.category_id.$error'>
									<span class='text-danger' ng-show='editForm.category_id.$error.required && !editForm.category_id.$pristine'>
										Please enter category.
									</span>
								</div>
							</div>
						  <div class="col-md-2"><button class="btn btn-danger" type="button" ng-disabled="question.educated_lies.length ===1" ng-click="removeEducatedLies($index);">Remove</button></div>
						</div>
					</div>
					</div>
					<div class="form-group">
						<center>
						<button id="login" class="btn btn-black" ng-click="openViewModel();" ng-disabled="isBusyButton">
								Cancel
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
							<button id="login" class="btn btn-primary" ng-click="updateMethod(question);" ng-disabled="editForm.$invalid || isBusyButton">
								Submit
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
							
						</center>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
