<div class="row">
	<div class="col-md-12 col-sm-12">
	<!-- <div class="col-md-offset-1 col-md-10 col-sm-12"> -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h5>
					<span ng-if="pageModel.editModel"> Edit</span>
					Coin Setting
					 <span ng-if="pageModel.viewModel"> Lists</span>

				 </h5>
			</div>
			<div class="panel-body" ng-if="pageModel.viewModel">
				<table class="table table-bordered">
					<tr>
						<th>S No.</th>
						<th>Name</th>
						<th>Value</th>
						<th>Action</th>
					</tr>
					<tr ng-repeat="result in settingList">
						<td>{{$index+1}}</td>
						<td>{{result.display_name}}</td>
						<td>{{result.value}}</td>
						<td>
							<button class="btn btn-primary btn-xs" type="button" ng-disabled="isBusyButton" ng-click="openEditModel(result);">
								Edit
							</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="panel-body" ng-if="pageModel.editModel">
				<div ng-hide="edit">
					Loading
				</div>
				<form name="editForm" ng-if="edit">
					<div class="form-group">
						<label class="control-label">{{edit.display_name}} (Last modefied date : {{edit.modefied | date}})<small class="text-danger">*</small></label>
						<input type="text" name="chances" id="chances" valid-number  ng-model="edit.value" class="form-control" required />
						<div class='msg-block' ng-show='editForm.chances.$error'>
							<span class='text-danger' ng-show='editForm.chances.$error.required && !editForm.chances.$pristine'>
								Please enter {{edit.display_name}}.
							</span>
						</div>
					</div>
					<div class="form-group">
						<center>
						<button id="login" class="btn btn-black" ng-click="openViewModel();" ng-disabled="isBusyButton">
								Cancel
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
							<button id="login" class="btn btn-primary" ng-click="updateMethod(edit);" ng-disabled="editForm.$invalid || isBusyButton">
								Update
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
							
						</center>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
