<div class="row">
	<div class="col-md-12 col-sm-12">

        <!-- <div class="col-md-offset-1 col-md-10 col-sm-12"> -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>
                        Transaction History
                        <i class="fa fa-spinner fa-spin loder" ng-if="isBusyButton" style="font-size:24px;"></i>
                     </h5>
                </div>
                <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-md-offset-9">
						<form ng-submit="searchFunction();">
							<input type="text" ng-model="search"  class="form-control search-input" placeholder="Search" />
						</form>
                    </div>

                </div>
                    <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S No.</th>
							<th>Brand</th>
							<th>Store</th>
                            <th>Date</th>
                            <th>Customer Name</th>
                            <th>Customer Card</th>
                            <th>Customer Mobile</th>
                            <!-- <th>User Username</th> -->
                            <th>Amount</th>
                        </tr>

                        </thead>
                        <tbody>

                        <!--<tr ng-if="!transactionList">
                            <td colspan="8" class="text-center">
                                <span class="text-warning">Loading ... <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></span>
                            </td>
                        </tr>-->
                        <tr ng-if="transactionList.length > 0" ng-repeat="result in transactionList">
                            <td data-label="S No.">{{$index+1}}</td>
                            <td data-label="Brand"><span ng-if="result.users_store.brand">{{result.users_store.brand.name}}</span></td>
                            <td data-label="Store">{{result.users_store.store.name}}</td>
                            <td data-label="Date">{{result.created|date:"dd-MM-yyyy HH:mm:ss"}}</td>
                            <td data-label="Customer Name">{{result.customer.name}}</td>
                            <td data-label="Customer Card">{{result.customer.card_number}}</td>
                            <td data-label="Customer Mobile">{{result.customer.mobile_number}}</td>
                            <!-- <td>{{result.user.username}}</td> -->
                            <td data-label="Amount">{{result.amount | number:2}}</td>
                        </tr>
                        <tr ng-if="transactionList.length <= 0">
                            <td colspan="6" class="text-center text-danger">No data found</td>
                        </tr>

                        </tbody>

                    </table>
					<div class="row">
						<div class="text-center">
							<button type="button" class="btn btn-primary" ng-click="loadMoreFunction();" ng-disabled="isBusyButton">
								Load More
								<i class="fa fa-spinner fa-spin" ng-if="isBusyButton" style="font-size:24px"></i>
							</button>
						</div>
						<div class="text-center">
							<small ng-if="message" class="text-danger">{{message}}</small>
						</div>
					</div>
                </div>
            </div>

    </div>
</div>
